
.paperSummaryInfo {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

.col-sm-3 select {
    height: 40px;
    width: 80%;
    color: #b1adad;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-paperaction {
    font-size: 1.5em !important;
}

.popover {
    max-width: 400px;
}

.btn-papergreen, .btn-paperred, .btn-paperpurple {
    background-color: transparent;
    /*border: 2px solid #c7cbcf;*/
    color: #c7cbcf;
    border-radius: 500px;
    width: 24px;
    height: 24px;
    padding: 0px 0px;
}

    .btn-papergreen:hover {
        color: #2eae5b;
        border-color: #2eae5b;
    }

    .btn-paperred:hover {
        color: #dd594a;
        border-color: #dd594a;
    }

    .btn-paperpurple:hover {
        color: #a276a4;
        border-color: #a276a4;
    }

.areainfo {
    /*margin-bottom:4px;*/
}

    .areainfo .areatitle {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        background-color: #e8ebef;
        color: #383838;
    }

    .areainfo .areaprompt {
        color: #79889b;
        padding: 10px;
        border: 1px dashed #a6bdd1;
        display: table;
        width: 100%;
    }

        .areainfo .areaprompt .audio {
            display: table-cell;
            vertical-align: middle;
        }

        .areainfo .areaprompt .text {
            vertical-align: middle;
            display: table-cell;
        }

.questioninfo {
    margin-bottom: 10px;
}

    .questioninfo .questionprompt {
        padding: 10px;
        display: table;
        width: 100%;
    }

        .questioninfo .questionprompt .text {
            display: table-cell;
            font-size: 1.2em;
            color: #0094ff;
            vertical-align: middle;
            padding-right: 10px;
        }

        .questioninfo .questionprompt .action {
            width: 84px;
            font-size: .9em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

    .questioninfo .questionprompt25 {
        padding: 5px 10px;
        margin: 5px;
        display: table;
        width: 100%;
        border-bottom: solid 1px;
    }

        .questioninfo .questionprompt25 .text {
            display: table-cell;
            font-weight: bold;
            color: #000000;
            vertical-align: middle;
            padding-right: 10px;
        }

        .questioninfo .questionprompt25 .action {
            width: 84px;
            font-size: .9em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

.contentinfo {
    /*margin:10px;*/
}

    .contentinfo:hover, .contentinfo:hover clearfix {
        background-color: #dbf0fc;
    }

        .contentinfo:hover .btn-papergreen {
            color: #2eae5b;
            border-color: #2eae5b;
        }

        .contentinfo:hover .btn-paperred {
            color: #dd594a;
            border-color: #dd594a;
        }

        .contentinfo:hover .btn-paperpurple {
            color: #a276a4;
            border-color: #a276a4;
        }

        .contentinfo:hover .contenttext .text span {
            color: #ffffff;
            background-image: url('http://cdn.uukaola.com/web/img/paper/h2.png');
        }

    .contentinfo .contenttext {
        padding: 10px;
        display: table;
        width: 100%;
    }

        .contentinfo .contenttext .text {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            color: #383838;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
        }

            .contentinfo .contenttext .text span {
                display: inline-block;
                color: #383838;
                width: 40px;
                margin-right: 10px;
                height: 26px;
                line-height: 26px;
                background-image: url('http://cdn.uukaola.com/web/img/paper/h1.png');
                background-repeat: no-repeat;
                background-position: 0 50%;
                padding-left: 12px;
            }

        .contentinfo .contenttext .action {
            width: 84px;
            font-size: .9em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

.options ul {
    list-style-type: none;
}

    .options ul li {
        background-image: url('http://cdn.uukaola.com/web/img/paper/circle1.png');
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding-left: 30px;
        margin: 4px;
    }

        .options ul li.right {
            background-image: url('http://cdn.uukaola.com/web/img/paper/circle2.png');
            border-width: 1px;
            border-color: green;
        }

.options .vertical li {
    float: left;
    margin-right: 10px;
    height: 24px;
    line-height: 24px;
}

.options .vertical-img li {
    height: 130px;
    line-height: 130px;
}

.img-thumbnail {
    border: 0px;
}



 .triangle1 {
    position: absolute;
    margin-top: -20px;
    right: 175px;  
    border-width: 11px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    z-index: 99999;
}

  .triangle2 {
    position: absolute;
    margin-top: -20px;
    right: 176px;  
    border-width: 11px;
    border-style: solid;
    border-color: transparent #d2d5d8 transparent transparent;    
}

