<!--信息转述并询问-->

<div style="background-color:#ffffff;padding-left:14px;padding-right:14px;" ng-if="questionData.Index%2!=0">
    <!--Part1信息转述-->
    <div class="clearfix" style="border-bottom: solid 1px #e1e1e1;padding: 10px 14px;margin: 0px -14px;">
        <div style="margin-top: 7px;float:left;font-size: 15px;font-weight: bold;color: #333333;   " ng-if="questionData.Prompt!=undefined && questionData.Prompt.length>0">
            {{questionData.Prompt}}
        </div>
        <div class="question-controlbar" ng-if="questionData.Audio.length>0" style="margin-top: 0px;">

            <div ng-if="questionData.AudioText.length>0" ng-click="ShowAudioRefText(questionData.AudioText)" style="float:right;">
                <img src="http://cdn.uukaola.com/web/img/report/luyinyuanwen.png" />
                <span>录音原文</span>
            </div>
            <div ng-click="PlayAudio(questionData,questionData.QuestionID+'_Part1',questionData.Audio)" style="float:right;">
                <img ng-if="IsAudioPlaying(questionData.QuestionID+'_Part1')==false" src="http://cdn.uukaola.com/web/img/report/bofangluyin.png"
                />
                <img ng-if="IsAudioPlaying(questionData.QuestionID+'_Part1')==true" src="http://cdn.uukaola.com/web/img/report/bofangluyin-2.png"
                />
                <span>播放录音</span>
            </div>
        </div>
    </div>
    <div style="margin:20px 0px 0px 0px;font-size:15px;color:#333;line-height:20px;" ng-if="questionData.Text != null && questionData.Text.length > 0"
        ng-bind-html="questionData.Text|trustHtml">
    </div>
    <div style="margin-top:15px;font-size:15px;color:#333;" ng-if="questionData.Tips!=undefined && questionData.Tips.length>0">
        {{questionData.Tips}}
    </div>

    <div class="" style="margin-top:10px;">
        <img ng-src="{{resourcePath+questionData.Image}}" style="max-width:550px;max-height:260px;" />
    </div>



    <div ng-repeat="content1 in questionData.Contents">
        <!--<div style="margin-top:12px;margin-bottom:12px;font-size:15px;color:#333;font-family:Arial;text-align:justify;line-height:20px;" ng-if="questionData.AudioText!=undefined && questionData.AudioText.length>0">
            {{questionData.AudioText}}
        </div>-->
        <div style="font-size:15px;color:#333;line-height:30px;" ng-bind-html="content1.Tips|trustHtml">
        </div>

        <div style="" class="content-reftext">
            <div>
                <img src="http://cdn.uukaola.com/web/img/report/cankaodaan.png" />
                <label>参考答案</label>
            </div>
            <ul>
                <li ng-repeat="refText in content1.Answers">{{refText.Content}}</li>
            </ul>
        </div>

    </div>

</div>

<!--Part2情景问答-->
<div style="background-color:#ffffff;padding-left:14px;padding-right:14px;" ng-if="questionData.Index%2==0">

    <div class="clearfix" style="border-bottom: solid 1px #e1e1e1;padding: 15px 14px;margin: 0px -14px;">
        <div style="float:left;font-size: 15px;font-weight: bold;color: #333333;   " ng-if="questionData.Prompt!=undefined && questionData.Prompt.length>0">
            {{questionData.Prompt}}
        </div>

    </div>

    <div style="margin:20px 0px 0px 0px;font-size:15px;color:#333;line-height:20px;" ng-if="questionData.Text!=undefined && questionData.Text.length>0"
        ng-bind-html="questionData.Text|trustHtml">
    </div>
    <div ng-repeat="content2 in questionData.Contents" ng-style="$last==false ?{'border-bottom':'1px solid #e8e8e8'}:{'border-bottom':'0px'}">
        <div style="margin-top:20px;">

            <div>
                <div class="content-idx" style="">{{content2.Index}}</div>
                <div class="content-text" style="" ng-if="content2.Text.length>0" ng-bind-html="content2.Text|trustHtml">
                </div>
                <div class="content-text" style="" ng-if="content2.Text.length==0&&  content2.AudioText.length>0  " ng-bind-html="content2.AudioText|trustHtml">
                </div>


            </div>
            <div style="clear:both;">

            </div>

        </div>
        <div style="" class="content-reftext">
            <div>
                <img src="http://cdn.uukaola.com/web/img/report/cankaodaan.png" />
                <label>参考答案</label>
            </div>
            <ul>
                <li ng-repeat="refText in content2.Answers">{{refText.Content}}</li>
            </ul>
        </div>

    </div>

</div>