<div style="background-color:#ffffff;padding-left:14px;padding-right:14px;">
    <!--情景反应-->

    <div ng-repeat="content in questionData.Contents">
        <div class="div-content">
            <div>
                <div class="content-idx" style="">{{content.Index}}</div>
                <div class="content-text" ng-if="content.Text.length>0" style="" ng-bind-html="content.Text|trustHtml">
                </div>
                <div class="content-text" ng-if="content.Text.length<=0&&content.Prompt.length>0" style="" ng-bind-html="content.Prompt|trustHtml">
                </div>
                <div class="content-controlbar">
                    <div ng-if="content.Audio.length<=0&&questionData.Audio.length>0" ng-click="PlayAudio(questionData,questionData.QuestionID,questionData.Audio)">
                        <img ng-if="IsAudioPlaying(questionData.QuestionID)==false" src="http://cdn.uukaola.com/web/img/report/bofangluyin.png" />
                        <img ng-if="IsAudioPlaying(questionData.QuestionID)==true" src="http://cdn.uukaola.com/web/img/report/bofangluyin-2.png"
                        />
                        <span>播放录音</span>
                    </div>
                    <div ng-if="content.Audio.length>0" ng-click="PlayAudio(content,content.ContentID,content.Audio)">
                        <img ng-if="IsAudioPlaying(content.ContentID)==false" src="http://cdn.uukaola.com/web/img/report/bofangluyin.png" />
                        <img ng-if="IsAudioPlaying(content.ContentID)==true" src="http://cdn.uukaola.com/web/img/report/bofangluyin-2.png" />
                        <span>播放录音</span>
                    </div>
                    <div ng-if="content.AudioText.length>0" ng-click="ShowAudioRefText(content.AudioText)">
                        <img src="http://cdn.uukaola.com/web/img/report/luyinyuanwen.png" />
                        <span>录音原文</span>
                    </div>
                    <div ng-if="content.AudioText.length<=0&&content.RefrenceTexts.length>0" ng-click="ShowAudioRefText(content.RefrenceTexts[0].Content)">
                        <img src="http://cdn.uukaola.com/web/img/report/luyinyuanwen.png" />
                        <span>录音原文</span>
                    </div>
                </div>
            </div>
            <div style="clear:both;">
            </div>
        </div>
        <div style="" class="content-reftext">
            <div>
                <img src="http://cdn.uukaola.com/web/img/report/cankaodaan.png" />
                <label>参考答案</label>
            </div>
            <ul>
                <li ng-repeat="refText in content.Answers">{{refText.Content}}</li>
            </ul>
        </div>
    </div>
</div>