<!--听对话填空(北京)-->
<div class="clearfix" style="border-bottom: solid 1px #e1e1e1;padding: 10px 15px;">
    <div style="float:left;font-size: 15px;font-weight: bold;color: #000000;   " ng-if="questionData.Prompt!=undefined && questionData.Prompt.length>0">
        {{questionData.Prompt}}
    </div>
    <div class="question-controlbar" ng-if="questionData.Audio.length>0" style="margin-top: 0px;">

        <div ng-if="questionData.AudioText.length>0" ng-click="ShowAudioRefText(questionData.AudioText)" style="float:right;">
            <img src="http://cdn.uukaola.com/web/img/report/luyinyuanwen.png" />
            <span>录音原文</span>
        </div>
        <div ng-click="PlayAudio(questionData,questionData.QuestionID+'_Part1',questionData.Audio)" style="float:right;">
            <img ng-if="IsAudioPlaying(questionData.QuestionID+'_Part1')==false" src="http://cdn.uukaola.com/web/img/report/bofangluyin.png"
            />
            <img ng-if="IsAudioPlaying(questionData.QuestionID+'_Part1')==true" src="http://cdn.uukaola.com/web/img/report/bofangluyin-2.png"
            />
            <span>播放录音</span>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<div style="background-color:#ffffff;padding-left:14px;padding-right:14px;">

    <div class="" style="padding-top:20px;padding-bottom:20px;border-bottom: solid 1px #e1e1e1;">
        <img ng-src="{{resourcePath+questionData.Image}}" style="max-width:550px;max-height:260px;margin-left:14px;" />
    </div>
    <div ng-repeat="content in questionData.Contents">
        <div style="padding-top:20px;border-bottom: solid 1px #e1e1e1;">
            <div>
                <div class="content-idx" style="">{{content.Index}}</div>
                <div style="border-bottom: solid 1px #A6A6A6;float:left;min-width: 150px;padding: 0px 20px;height: 28px;line-height:28px;margin-left: 10px;text-align:center;font-size:16px;">
                </div>
            </div>
            <div style="clear:both;"></div>
            <div style="" class="content-reftext">
                <div>
                    <img src="http://cdn.uukaola.com/web/img/report/cankaodaan.png" />
                    <label>参考答案</label>
                </div>
                <div style="padding: 10px 0px 15px;font-size: 16px;color:#444444;">{{GetSpecialContentAnswer(content.Answers)}}</div>
            </div>
        </div>
    </div>
</div>