<!--  AreaType.SpokenSceneMultipleResponse , //目前废弃的类型, 没有使用场景 [情景问答]-->
<div style="background-color:#ffffff;padding-left:14px;padding-right:14px;">
    <div>
        <div style="float:left;font-size:15px;color:#444;max-width:80%;margin:16px 0px" ng-if="questionData.Text!=undefined && questionData.Text.length>0"
            ng-bind-html="questionData.Text|trustHtml">
        </div>
        <div style="float:left;font-size:15px;color:#444;max-width:80%;margin:16px 0px" ng-if="(questionData.Text==undefined || questionData.Text.length<=0)&&questionData.Prompt!=undefined && questionData.Prompt.length>0"
            ng-bind-html="questionData.Prompt|trustHtml">
        </div>
        <div class="question-image" style="" ng-if="questionData.Image != null && questionData.Image != ''">
            <img ng-src="{{ resourcePath + '/' + questionData.Image}}" style="max-width:560px;max-height:320px;float:left;margin:10px 0px 16px;"
            />
        </div>
        <div class="question-controlbar" ng-if="questionData.Audio.length>0" style="margin-top: 16px;">
            <div ng-if="questionData.AudioText.length>0" ng-click="ShowAudioRefText(questionData.AudioText)" style="float:right;">
                <img src="http://cdn.uukaola.com/web/img/report/luyinyuanwen.png" />
                <span>录音原文</span>
            </div>
            <div ng-click="PlayAudio(questionData,questionData.QuestionID+'_Part1',questionData.Audio)" style="float:right;">
                <img ng-if="IsAudioPlaying(questionData.QuestionID+'_Part1')==false" src="http://cdn.uukaola.com/web/img/report/bofangluyin.png"
                />
                <img ng-if="IsAudioPlaying(questionData.QuestionID+'_Part1')==true" src="http://cdn.uukaola.com/web/img/report/bofangluyin-2.png"
                />
                <span>播放录音</span>
            </div>
        </div>
    </div>
    <div class="question-controlbar-spliter"></div>
    <div ng-repeat="content in questionData.Contents" ng-style="$last==false ?{'border-bottom':'1px solid #e8e8e8'}:{'border-bottom':'0px'}">
        <div class="div-content">
            <div>
                <div class="content-idx" style="">{{content.Index}}</div>
                <div class="content-text" style="" ng-if="content.Text.length>0" ng-bind-html="content.Text|trustHtml">
                </div>
                <div class="content-text" style="" ng-if="content.Text.length==0&&  content.AudioText.length>0  " ng-bind-html="content.AudioText|trustHtml">
                </div>
                <div class="content-text" style="" ng-if="content.Text.length==0&&  content.AudioText.length==0 &&content.RefrenceTexts.length>0 "
                    ng-bind-html="content.RefrenceTexts[0].Content|trustHtml">
                </div>
                <div style="clear:both;">
                </div>
            </div>
            <div style="" class="content-reftext">
                <div>
                    <img src="http://cdn.uukaola.com/web/img/report/cankaodaan.png" />
                    <label>参考答案</label>
                </div>
                <ul>
                    <li ng-repeat="refText in content.Answers">{{refText.Content}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>