<div style="background-color:#ffffff;padding-left:14px;padding-right:14px;">
    <!--情景对话-->
    <div class="question-text" ng-if="questionData.Text!=undefined && questionData.Text.length>0" ng-bind-html="questionData.Text|trustHtml">
    </div>

    <div class="question-controlbar-spliter"></div>

    <div ng-repeat="content in questionData.Contents" ng-style="$last==false ?{'border-bottom':'1px solid #e8e8e8'}:{'border-bottom':'0px'}">
        <div class="div-content">

            <div>
                <div class="content-idx" style="">{{content.Index}}</div>

                <div class="content-text" style="" ng-bind-html="content.Text|trustHtml">
                </div>


            </div>
            <div style="clear:both;">

            </div>

        </div>
        <div style="" class="content-reftext">
            <div>
                <img src="http://cdn.uukaola.com/web/img/report/cankaodaan.png" />
                <label>参考答案</label>
            </div>
            <ul>
                <li ng-repeat="refText in content.Answers">{{refText.Content}}</li>
            </ul>
        </div>

    </div>

</div>