
.dropdown-menu {
    min-width: 0px;
    width: 150px;
}

.paperSummaryInfo {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

.col-sm-3 select {
    height: 40px;
    width: 80%;
    color: #b1adad;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-paperaction {
    font-size: 1.5em !important;
}

.popover {
    max-width: 400px;
}

.smallicon {
    color: inherit;
}

.btn-papergreen, .btn-paperred, .btn-paperpurple {
    background-color: transparent;
    /*border: 2px solid #c7cbcf;*/
    color: #c7cbcf;
    border-radius: 500px;
    width: 24px;
    height: 24px;
    padding: 0px 0px;
}

    .btn-papergreen:hover {
        color: #2eae5b;
        border-color: #2eae5b;
    }

    .btn-paperred:hover {
        color: #dd594a;
        border-color: #dd594a;
    }

    .btn-paperpurple:hover {
        color: #a276a4;
        border-color: #a276a4;
    }

.areainfo {
    /*margin-bottom:4px;*/
}

    .areainfo .areatitle {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        background-color: #e8ebef;
        color: #383838;
    }

    .areainfo .areaprompt {
        color: #79889b;
        padding: 10px;
        border: 1px dashed #a6bdd1;
        /*display: table;*/
        width: 100%;
    }

        .areainfo .areaprompt .audio {
            display: table-cell;
            vertical-align: middle;
        }

        .areainfo .areaprompt .text {
            vertical-align: middle;
            display: table-cell;
        }

.questioninfo {
    margin-bottom: 10px;
}

    .questioninfo .questionprompt {
        padding: 10px;
        display: table;
        width: 100%;
    }

        .questioninfo .questionprompt .text {
            display: table-cell;
            /*font-size:1.2em;*/
            color: #0094ff;
            vertical-align: middle;
            padding-right: 10px;
        }

        .questioninfo .questionprompt .action {
            width: 84px;
            font-size: .9em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

    .questioninfo .questionprompt25 {
        padding: 5px 10px;
        margin: 5px;
        display: table;
        width: 100%;
        border-bottom: solid 1px #c7cbcf;
    }

        .questioninfo .questionprompt25 .text {
            display: table-cell;
            font-weight: bold;
            color: #000000;
            vertical-align: middle;
            padding-right: 10px;
        }

        .questioninfo .questionprompt25 .action {
            width: 84px;
            font-size: .9em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

.contentinfo {
    /*margin:10px;*/
}

    .contentinfo:hover, .contentinfo:hover .clearfix {
        background-color: #dbf0fc;
    }

        .contentinfo:hover .btn-papergreen {
            color: #2eae5b;
            border-color: #2eae5b;
        }

        .contentinfo:hover .btn-paperred {
            color: #dd594a;
            border-color: #dd594a;
        }

        .contentinfo:hover .btn-paperpurple {
            color: #a276a4;
            border-color: #a276a4;
        }

        .contentinfo:hover .contenttext .text span {
            color: #ffffff;
            background-image: url('http://cdn.uukaola.com/web/img/paper/h2.png');
        }

    .contentinfo .contenttext {
        padding: 10px;
        display: table;
        width: 100%;
    }

        .contentinfo .contenttext .text {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            color: #383838;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
        }

            .contentinfo .contenttext .text span {
                display: table-cell;
                color: #383838;
                width: 40px;
                margin-right: 10px;
                height: 26px;
                line-height: 26px;
                background-image: url('http://cdn.uukaola.com/web/img/paper/h1.png');
                background-repeat: no-repeat;
                padding-left: 12px;
            }

            .contentinfo .contenttext .text label {
                display: table-cell;
                padding-left: 10px;
            }

        .contentinfo .contenttext .action {
            width: 84px;
            font-size: .9em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

.question-index {
    padding: 10px;
}

    .question-index:hover span {
        color: #ffffff;
        background-image: url('http://cdn.uukaola.com/web/img/paper/h2.png');
    }

    .question-index span {
        display: inline-block;
        color: #383838;
        width: 40px;
        margin-right: 10px;
        height: 26px;
        line-height: 26px;
        background-image: url('http://cdn.uukaola.com/web/img/paper/h1.png');
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding-left: 12px;
    }


.question-image {
    margin-left: 50px;
}

    .question-image img {
        /*min-width: 300px;
        min-height: 250px;*/
    }

.options ul {
    list-style-type: none;
}

    .options ul li {
        background-image: url('http://cdn.uukaola.com/web/img/paper/circle1.png');
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding-left: 30px;
        margin: 4px;
    }

        .options ul li.right {
            background-image: url('http://cdn.uukaola.com/web/img/paper/circle2.png');
        }

.options .vertical li {
    float: left;
    margin-right: 20px;
    height: 24px;
    line-height: 24px;
}

.options .vertical-img li {
    height: 130px;
    line-height: 130px;
}


.content-video {
    width: 400px;
    height: 320px;
    float: left;
    margin-left: 10px;
}

    .content-video .video-js {
        width: 400px;
        height: 320px;
    }

.img-thumbnail {
    border: 0px;
}


.content-idx {
    float: left;
    background-image: url('http://cdn.uukaola.com/web/img/report/biaoqian.png');
    display: inline-block;
    width: 40px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-right: 6px;
    height: 29px;
    line-height: 29px;
    color: #333;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    padding-top: 1px;
}

.content-text {
    float: left;
    font-size: 16px;
    color: #333333;
    font-family: Arial,'Microsoft YaHei';
    line-height: 28px;
    margin-left: 14px;
    max-width: 92%;
    text-align: justify;
}

.content-controlbar {
    float: right;
    margin-top: 10px;
}

    .content-controlbar div {
        float: left;
        margin-right: 2px;
        margin-left: 15px;
        cursor: pointer;
    }

        .content-controlbar div:hover {
            background-color: #e8e8e8;
        }

        .content-controlbar div img {
            margin-right: 4px;
            vertical-align: baseline;
        }

.content-options {
    padding-top: 16px;
}

    .content-options ul {
        list-style-type: none;
    }

    .content-options .horizontal li.active {
    }

    .content-options .horizontal li {
        margin-right: 50px;
        min-width: 160px;
        float: left;
    }

    .content-options .vertical li {
        margin-bottom: 14px;
    }

.content-option-icon {
    margin-top: -5px;
}

.content-option-img {
    max-width: 120px;
    max-height: 90px;
}

.content-option-label {
    margin-left: 5px;
    font-size: 16px !important;
    color: #333;
}


.question-text {
    float: left;
    font-size: 15px;
    color: #444444;
    line-height: 30px;
    margin-left: 14px;
    max-width: 700px;
    margin-top: 10px;
}

.question-prompt {
    float: left;
    font-size: 18px;
    color: #333333;
    margin-left: 14px;
    max-width: 700px;
    margin-top: 10px;
}

.question-tips {
    float: left;
    font-size: 14px;
    color: #333333;
    margin-left: 14px;
    max-width: 700px;
    margin-top: 10px;
}

.question-controlbar {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

    .question-controlbar div {
        float: left;
        margin-right: 2px;
        margin-left: 15px;
        cursor: pointer;
    }

        .question-controlbar div:hover {
            background-color: #e8e8e8;
        }

        .question-controlbar div img {
            margin-right: 4px;
            vertical-align: baseline;
        }

.question-controlbar-spliter {
    clear: both;
    border-bottom: 1px solid #e8e8e8;
    margin-left: -15px;
    margin-right: -15px;
}


.student-answer {
    float: right;
    margin-right: 20px;
    line-height: 25px;
    background-color: #FF8901;
    width: 80px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
}

    .student-answer img {
        margin-left: 5px;
        vertical-align: sub;
    }


.score-info {
    clear: both;
    margin-bottom: 19px;
    background-color: #DDF0F7;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #555;
}

    .score-info label {
        vertical-align: middle;
    }

.content-reftext {
    clear: both;
    margin-top: 19px;
    margin-bottom: -19px;
    background-color: #DDF0F7;
    padding: 20px 0px 3px 14px;
}

    .content-reftext img {
    }

    .content-reftext label {
        font-size: 15px !important;
        font-weight: bold;
        color: #000000;
        margin-left: 5px;
    }

    .content-reftext ul {
        margin-left: -20px;
        margin-top: 10px;
        margin-right: 10px;
        font-family: Arial;
        font-size: 16px;
        color: #444444;
    }

        .content-reftext ul li {
            margin-bottom: 5px;
        }

.content-reftext-spliter {
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
    border-bottom: dotted 1px #adccda;
}

.content-image {
    float: left;
}

    .content-image img {
        /*min-width: 300px;
        min-height: 250px;*/
    }






.score-comment-legend {
    float: right;
    margin-right: 20px;
    line-height: 12px;
    margin-top: 20px;
    width: 160px;
}

    .score-comment-legend div {
        width: 12px;
        height: 12px;
        float: left;
    }

    .score-comment-legend label {
        margin-left: 5px;
        margin-right: 10px;
        float: left;
    }

.score-comment-legend-default {
}

.score-comment-legend-green {
    background-color: #10B400;
}

.score-comment-legend-yellow {
    background-color: #FF8B02;
}

.score-comment-legend-blue {
    background-color: #4680B2;
}

.score-comment-legend-red {
    background-color: #FC0609;
}


a.readtext {
    text-decoration: none;
}

.readtext.default {
    color: #000000;
}

.readtext.green {
    color: #10B400;
}

.readtext.yellow {
    color: #FF8B02;
}

.readtext.blue {
    color: #4680B2;
}

.readtext.red {
    color: #FC0609;
}


label.spliter {
    margin-left: 20px;
    width: 2px;
    height: 20px;
    background-color: #cde2eb;
}

.analysis-chart-container {
    background-color: #ffffff;
    padding: 20px 15px;
    float: left;
}

.analysis-chart {
    height: 230px;
    width: 400px;
    background-color: #ffffff;
}


.div-ca {
    margin: 20px 0px;
}


.sample-answer {
    float: right;
}

.sample-answer-controlbar {
    margin-right: 10px;
    cursor: pointer;
    margin-top: -3px;
}



.question-text-16 {
    padding: 10px;
    display: table;
    width: 100%;
}

    .question-text-16 .text {
        display: table-cell;
        color: #333333;
        vertical-align: middle;
        padding-right: 10px;
        width: 95%;
    }
