.modal-dialog {
    position: relative !important;
    top: 0;
    margin-top: 12% !important;
    margin: auto;
}

.modal-sm {
    width: 400px !important;
}

.placeholder {
    color: #808080;
}

.icon-piliangzengjia:before {
    content: '' !important;
}

.btn-Batch {
    background-image: url(/web/img/piliang.png);
    background-repeat: no-repeat;
    background-position: 15px 12px;
}
 .btn-group{
    line-height:35px;
   
}

  .content-options .horizontal li{
      min-width:262px !important;
      margin-right: 8px !important;
  }

