 <link rel="stylesheet" type="text/css" href="/web/kaola/auth/resetpwd.css" />

<div class="resetpwd">

    <div class="resetpwd_container">
        <div class="resetpwd_content">
            <div class="resetpwd_content_top">
                <img src="http://cdn.uukaola.com/web/img/logo.png" ui-sref="login" style="cursor:pointer" alt="悠悠考拉网" />
            </div>
            <div class="resetpwd_content_form">
                <div ng-hide="message !=''">
                    <h2>重置密码</h2>
                    <div class="input-group input_txt" style="margin-top: 20px;" ng-class="{true:'has-error'}[ErrorMsg.NewPwdMsg!='']">
                        <input type="password" id="id_PhoneNum" maxlength="20" ng-model="ResetPwdParams.NewPwd" class="form-control" placeholder="新密码" style="height: 46px; width: 100%; font-family: '微软雅黑';">
                    </div>
                    <div style="height: 22px; color: #C68887; line-height: 22px;text-align: left;">
                        <span class="span-error-msg" ng-hide="ErrorMsg.NewPwdMsg==''"><img src="http://cdn.uukaola.com/web/img/validateErrorIcon.png">{{ErrorMsg.NewPwdMsg}}</span>
                    </div>
                    <div class="input-group input_txt" ng-class="{true:'has-error'}[ErrorMsg.ConfirmPwdMsg!='']">
                        <input type="password" id="id_PhoneValid" maxlength="20" ng-model="ResetPwdParams.ConfirmPwd" class="form-control" placeholder="确认密码" style="height: 46px; font-family: '微软雅黑';">
                    </div>
                    <div style="height: 22px; color: #C68887; line-height: 22px; text-align: left;">
                        <span class="span-error-msg" ng-hide="ErrorMsg.ConfirmPwdMsg==''"><img src="http://cdn.uukaola.com/web/img/validateErrorIcon.png">{{ErrorMsg.ConfirmPwdMsg}}</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary button-bottom-blue" ng-click="SavePwd()" style="height: 36px;">保存</button>
                    </div>
                </div>

                <div ng-hide="message ==''" class="alert alert-info">

                </div>

            </div>



        </div>
    </div>



</div>


