.resetpwd {
    width: 100%;
    height: 100%;
}


.resetpwd_container {
    height: 65%;
    background: url('http://cdn.uukaola.com/web/img/background/top.png');
}

.resetpwd_content {
    border-radius: 5px;
    position: absolute;
    bottom: 50%;
    margin-bottom: -200px;
    width: 350px;
    left: 50%;
    margin-left: -162px;
}

.resetpwd_content_top {
    height: 125px;
    margin: 0 0 30px;
    text-align: center;
}


.resetpwd_content_form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-right: 0;
}

    .resetpwd_content_form h2 {
        margin: 0 0 10px 0;
        text-align: left;
        color: #67ACD6;
        font-size: 20px;
        font-weight: bold;
    }

.input_txt {
    width: 100%;
    margin: 0 auto 0;
}

    .input_txt input {
        border-radius: 3px !important;
    }

.find_type {
    margin-top: 20px;
    font-family: '微软雅黑';
    font-size: 16px;
    color: #B8B8B8;
}
