.bread-font {
    color: #555;
}

.area-wrap {
    float: left;
}

.area-wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

.area-wrap li {
    font-size: 14px;
    float: left;
    margin: 11px 5px;
    border-radius: 2px;
    color: #333;
    padding: 4px 10px;
    cursor: pointer;
}

.area-wrap li:hover {
    background-color: #198dc8;
    color: white;
}

.area-wrap li.active {
    background-color: #198dc8;
    color: white;
}

.paperdesign-search-filter-scroll {
    float: left;
}

.paperdesign-search-filter-scroll .paperdesign-search-input-scroll {
    float: left;
}

.paperdesign-search-filter-scroll .paperdesign-search-input-scroll input[type=text] {
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    padding-left: 8px;
    width: 220px;
    height: 32px;
    line-height: 32px;
    color: #333333;
}

.paperdesign-search-filter-scroll .paperdesign-search-button-scroll {
    float: left;
    cursor: pointer;
}

.paperdesign-search-filter-scroll .paperdesign-search-button-scroll img {
    height: 32px;
}

.no-padding {
    padding: 0 !important;
}

.body {
    margin-top: 20px;
}

.school-main {
    border: solid 1px #e5e5e5;
}

.main-header {
    padding: 10px 14px;
    border-bottom: solid 1px #e5e5e5;
}

.search-btn:hover {
    opacity: 0.7;
}

.main-select-all {
    outline: none;
    box-shadow: none;
    float: right;
    width: 47px;
    height: 28px;
    background-color: #dfe3e6;
    border-radius: 2px;
    margin-top: 3px;
    color: #757575;
}

.main-select-all:focus {
    outline: 0;
}

.main-select-all.active {
    color: white;
    background: #178ec9;
}

.main-content {
    overflow: auto;
    padding: 17px 9px;
    height: 331px;
}

.main-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-content ul li {
    display: inline-block;
    box-sizing: border-box;
    width: 155px;
    height: 28px;
    background-size: 153px 26px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 2px;
    font-size: 14px;
    color: #333333;
    margin: 4px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid white;
}

.main-content ul li:hover {
    /* background-image: url(/web/img/exam/img_action.png); */
    border: 1px solid #198dc8;
}

.main-content ul li.active {
    background-image: url(/web/img/exam/img_action.png);
}

.mypaper-container {
    top: 198px;
    border-radius: 2px;
    float: left;
    width: 100%;
    height: 386px;
    right: 232px;
}

.mypaper-container .header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 51px;
    background-color: #178ec9;
    padding: 0px 11px;
}

.mypaper-container .header .title {
    float: left;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
}

.mypaper-container .header .title .number {
    color: #ffcc00;
    font-size: 16px;
}

.mypaper-container .header .clear-all {
    float: right;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 50px;
    cursor: pointer;
}

.mypaper-container .header .clear-all .smallicon {
    margin-top: 17px;
    font-size: 15px;
    color: #fff;
    margin-right: 3px;
}

.mypaper-container .header .clear-all:hover {
    color: #c0eaff;
    text-decoration: underline;
}

.mypaper-container .header .clear-all:hover .smallicon {
    color: #c0eaff;
}

.mypaper-container .content {
    overflow: auto;
    color: #333;
    font-size: 14px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 335px;
    background-color: #ffffff;
    border: solid 1px #178ec9;
    border-top: none;
    padding: 15px 17px;
}

.mypaper-container .content .big-item {
    margin-bottom: 15px;
}

.mypaper-container .content .big-item:last-child {
    margin-bottom: 0;
}

.mypaper-container .content .empty {
    text-align: center;
}

.mypaper-container .content .panel-body {
    padding-bottom: 0;
}

.mypaper-container .content .panel-body .item {
    padding: 8px 40px;
    margin: 0;
    border: 1px solid white;
}

.mypaper-container .content .panel-body .item .smallicon {
    float: right;
    display: inline-block;
    cursor: pointer;
}

.mypaper-container .content .panel-body .item .smallicon:hover {
    opacity: 0.8;
}

.mypaper-container .content .panel-body .item:last-child {
    margin-bottom: 0;
}

.mypaper-container .content .panel-body{
    padding: 12px 0;
}
.mypaper-container .content .panel-body .item:hover {
    background: #f4f5f9;
}

.mypaper-container .content .empty .empty-img {
    width: 72px;
    height: 76px;
    margin-top: 100px;
}

.mypaper-container .content .empty .empty-text {
    margin-top: 6px;
    font-size: 13px;
    color: #888888;
}

.mypaper-container .content .not-empty .tips {
    font-size: 13px;
    font-weight: normal;
    background-color: #fff4e6;
    padding-left: 10px;
    height: 31px;
    line-height: 31px;
    border-bottom: dashed 1px #dcdcdc;
}

.panel-group .panel-title span[aria-expanded=true] i {
    transform: rotateZ(90deg);
}

.panel-group .panel-title span[aria-expanded=false] i {}

.panel-group .panel-title span:hover {
    color: #555;
}

.panel-group .panel-title span i {
    transition: all 0.2s;
    background-image: url(http://cdn.uukaola.com/web/img/righticon.png);
    width: 8px;
    height: 12px;
    display: inline-block;
}

.btn-wrap {
    margin: 30px 0;
    text-align: center;
}

.btn-cancel {
    width: 111px;
    height: 40px;
    background-color: #e2e7ea;
    border-radius: 4px;
    color: #636363;
}

.btn-cancel:hover {
    color: #636363;
    opacity: 0.8;
}

.btn-sure {
    width: 111px;
    height: 40px;
    background-color: #198dc8;
    border-radius: 4px;
    color: white;
    margin-left: 35px;
}

.btn-sure:hover {
    color: white;
    opacity: 0.8;
}