   <!--听对话后填空-->
<div style="font-weight:bold;" class="highlight-no" ng-if="data.QuestionModel.Prompt!=undefined && data.QuestionModel.Prompt.length>0">
    {{data.QuestionModel.Prompt}}
</div>
<div>
    <div class="question-image">
        <img style="width:500px;height:260px;" ng-src="{{data.ResourcePath+data.QuestionModel.Image}}" />
    </div>
    <div class="question-title">【听力原文】</div>
    <div class="content-text highlight-no" ng-if="data.QuestionModel.AudioText!=undefined&& data.QuestionModel.AudioText.length>0" ng-bind-html="data.QuestionModel.AudioText|trustHtml">
    </div>
    <div ng-style="($index == 0 || ($index > 4 && $index%4==1)) ? {'margin-left':'0px'}:{'margin-left':'8px'}" style="float:left;" ng-repeat="content in data.QuestionModel.Contents">
        <div class="content-idx">{{content.Index}}.</div>
        <div class="underline-text">
        </div>
    </div>
    <div ng-if="data.QuestionModel.Contents != null && data.QuestionModel.Contents.length > 1" style="clear:both;height: 16px;margin-bottom: 16px;border-bottom: 1px solid #e1e1e1;"></div>
 </div>
<question-operation data="data" show-answer="true"></question-operation>

