<div class="row MainTabSet">
    <div class="navigate-bar">
        <div class="title">&nbsp;</div>
        <a style="font-weight:bold;color:black;" class="ng-binding">修改密码</a>
    </div>
    <div class="tab-content">
        <div class="tab-pane active " id="changePassword">
            <div style="height:120px;margin-top:50px;margin-left:650px;margin-bottom:0px;  font-size:13px;color:#555555;">
                <span style="margin-left:20px;" ng-hide="saveResult==''"><img src="http://cdn.uukaola.com/web/img/business/rightlock.png"><span style="margin-left:8px;">{{saveResult}}</span></span>
            </div>
            <form class="form-horizontal" id="changePasswordForm" autocomplete="off" style="margin-left: 300px;" novalidate>
                <div class="form-group" style="margin-right:0px;margin-bottom:10px !important;">
                    <label for="id_oldpassword" class="col-sm3 col-xs-3 control-label" style="padding-right:0px;color:#444;font-size:14px;margin-right:5px;">旧密码：</label>
                    <div class="col-sm-5 col-xs-5  " style="max-width:247px;padding-left:0px;height:32px;" ng-class="{true:'has-error'}[oldPasswordMsgShow]">
                        <input type="password" class="form-control" name="oldPassword" style="height:32px !important;border-radius:2px !important;"  maxlength="20" ng-model="changePasswordData.oldPassword" required autofocus>
                    </div>
                </div>
                <div class="form-group" style="margin-right:0px;margin-bottom:10px !important;">
                    <label for="id_newpassword" class="col-sm3 col-xs-3 control-label" style="padding-right:0px;color:#444;font-size:14px;margin-right:5px;">新密码：</label>
                    <div class="col-sm-5 col-xs-5  " style="max-width:247px;padding-left:0px;height:32px;" ng-class="{true:'has-error'}[newPasswordMsgShow]">
                        <input type="password" class="form-control" name="newPassword" style="height:32px !important;border-radius:2px !important;" placeholder="（6~20个字符）" maxlength="20" ng-model="changePasswordData.newPassword" required autofocus>
                    </div>
                </div>
                <div class="form-group" style="margin-right:0px;margin-bottom:0px !important;">
                    <label for="id_confirmNewpassword" class="col-sm3 col-xs-3 control-label" style="padding-right:0px;color:#444;font-size:14px;margin-right:5px;">确认新密码：</label>
                    <div class="col-sm-5 col-xs-5  " style="max-width:247px;padding-left:0px;height:32px;" ng-class="{true:'has-error'}[confirmPasswordMsgShow]">
                        <input type="password" class="form-control" style="height:32px !important;border-radius:2px !important;" name="confirmNewpassword" placeholder="（6~20个字符）" maxlength="20" ng-model="changePasswordData.confirmPassword" required autofocus>
                    </div>
                </div>
                <div class="form-group" style="margin-right:0px;margin-bottom:0px !important;height:26px;line-height:26px;">
                    <label for="id_confirmNewpassword" class="col-sm3 col-xs-3 control-label" style="padding-right:0px;color:#444;font-size:14px;"></label>
                    <div ng-hide="confirmPasswordMsg==''">
                        <span style="height:19px;line-height:19px;background:url(http://cdn.uukaola.com/web/img/validateErrorIcon.png) no-repeat bottom left;padding-left:18px;" class="span-error-msg">{{confirmPasswordMsg}}</span>
                    </div>
                </div>
                <div class="form-group" style="margin-right:0px;">
                    <label for="id_confirmNewpassword" class="col-sm3 col-xs-3 control-label" style="padding-right:0px;"></label>
                    <div class="col-sm-5 col-xs-5  " style="max-width:247px;padding-left:6px;height:32px;line-height:32px;margin:0 auto;text-align:left;">
                        <button type="button" class="btn btn-primary btn-normal" style="height:32px !important;border-radius:2px !important;" id="id_changePassword" ng-click="ChangePassword()">确认</button>
                        <button type="button" class="btn btn-normal btn-cancel" data-dismiss="modal" ng-click="Cancel()" style="margin-left:20px;">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


