<style type="text/css">
    .form-group-height {
        height: 65px;
        margin-bottom: 0px;
    }

    .span-error-msg img {
        float: left;
        margin: 4px 5px 0 10px;
        width: 12px;
        height: 12px;
    }

    .eye-icon {
        cursor: pointer;
        float: left;
        margin-left: 218px;
        margin-top: -27px;
        position:absolute;
    }
</style>

<div class="row contentTabset  bg-white">

    <ul class="nav nav-tabs">
        <li class="contentTabHeader active"><a href="#changepwd" data-toggle="tab">修改密码</a></li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="changepwd">
            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}" style="margin-top:-30px !important;"></toaster-container>

            <form class="form-horizontal" id="changePasswordForm" autocomplete="off" style="margin-left: 20px;margin-top:30px;" novalidate>

                <div class="form-group form-group-height">
                    <label for="id_oldpassword" class="col-sm-3 col-xs-3 control-label">旧密码：</label>
                    <div class="col-sm-5 col-xs-5 " style="max-width:300px;" ng-class="{true:'has-error'}[oldPasswordMsg!='']">
                        <input type="password" class="form-control input-fixWidth" name="oldPassword" placeholder="旧密码"  maxlength="20" ng-model="changePasswordData.oldPassword" required autofocus>
                        <input type="text" class="form-control input-fixWidth" name="oldPasswordShow" placeholder="旧密码" maxlength="20" required autofocus style="display:none">
                        <img class="eye-icon" id="showpwd_old" for="oldPassword" src="http://cdn.uukaola.com/web/img/login/eyeunselect.png" checked=false />
                        <span class="span-error-msg" ng-hide="oldPasswordMsg==''"><img src="http://cdn.uukaola.com/web/img/validateErrorIcon.png">{{oldPasswordMsg}}</span>
                    </div>
                </div>
                <div class="form-group form-group-height">
                    <label for="id_newpassword" class="col-sm-3 col-xs-3 control-label">新密码：</label>
                    <div class="col-sm-5 col-xs-5 " style="max-width:300px;" ng-class="{true:'has-error'}[newPasswordMsg!='']">
                        <input type="password" class="form-control input-fixWidth" name="newPassword" maxlength="20" placeholder="新密码" ng-model="changePasswordData.newPassword" required autofocus style="width:88%">
                        <input type="text" class="form-control input-fixWidth" name="newPasswordShow" placeholder="新密码" maxlength="20" required autofocus style="display:none;width:88%">
                        <img class="eye-icon" id="showpwd_new" for="newPassword" src="http://cdn.uukaola.com/web/img/login/eyeunselect.png"  checked=false/>
                        <span class="span-error-msg" ng-hide="newPasswordMsg==''"><img src="http://cdn.uukaola.com/web/img/validateErrorIcon.png">{{newPasswordMsg}}</span>
                    </div>
                </div>
                <div class="form-group form-group-height">
                    <label for="id_confirmNewpassword" class="col-sm-3 col-xs-3 control-label">确认新密码：</label>
                    <div class="col-sm-5 col-xs-5 " style="max-width:300px;" ng-class="{true:'has-error'}[confirmPasswordMsg!='']">
                        <input type="password" class="form-control input-fixWidth" name="confirmNewpassword" maxlength="20" placeholder="确认新密码" ng-model="changePasswordData.confirmPassword" required autofocus>
                        <input type="text" class="form-control input-fixWidth" name="confirmNewpasswordShow" placeholder="确认新密码" maxlength="20" required autofocus style="display:none" />
                        <img class="eye-icon" id="showpwd_confirm" for="confirmNewpassword" src="http://cdn.uukaola.com/web/img/login/eyeunselect.png"  checked=false />
                        <span class="span-error-msg" ng-hide="confirmPasswordMsg==''"><img src="http://cdn.uukaola.com/web/img/validateErrorIcon.png">{{confirmPasswordMsg}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_confirmNewpassword" class="col-sm-3 col-xs-3 control-label"></label>
                    <div class="col-sm-5 col-xs-5 ">
                        <button type="button" class="btn btn-primary button-simpleText" style="margin-bottom: 50px;margin-left:10px;" id="id_changePassword" ng-click="ChangePassword()">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

