@media (min-height: 700px) {
    .area {
        margin: 150px auto 100px;
    }
}

@media (max-height: 700px) {
    .area {
        margin: 100px auto;
    }
}

.area {
    width: 500px;
    height: 300px;
    border: 2px dashed #e5e5e5;
    text-align: center;
}

    .area .childarea {
        width: 300px;
        height: 100px;
        margin: 120px auto;
        display: inline-block;
    }

    .area .areacontent {
        margin-top: 20px;
    }


.span-content {
    position: relative;
    display: block;
    font-size: 14px;
    color: black;
}

    .span-content:before, .span-content:after {
        content: ''; /*CSS伪类用法*/
        position: absolute; /*定位背景横线的位置*/
        top: 52%;
        background: #e5e5e5; /*宽和高做出来的背景横线*/
        width: 40%;
        height: 1px;
    }

    .span-content:before {
        left: -2%;
    }

    .span-content:after {
        right: -2%;
    }

.btn-bindClass {
    width: 94px;
    height: 34px;
    background-color: #E2E7EA;
    color: #7a7a7a;
}

    .btn-bindClass:hover, .btn-bindClass:active {
        background-color: #24a3e6;
        color: #ffffff;
    }


.taskscore-div {
}

    .taskscore-div div {
        padding-left: 0px;
        padding-right: 0px;
        color: #9a9a9a;
    }

        .taskscore-div div a {
            text-decoration: none;
            margin-left: 5px;
            color: #636363;
        }

.tooltip-inner {
    color: #ffffff !important;
}
