.tasklabel-desc {
    color: #379bcd;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px !important;
}

.tasklabel-data {
    font-size: 13px;
    margin-bottom: 0px !important;
}

.tasksummarylabel-desc {
    color: #848484;
    font-size: 13px;
    font-weight: normal;
}

.tasksummarylabel-data {
    font-size: 13px;
    margin-bottom: 0px !important;
}

.reportContentTabHeader {
    width: 120px !important;
    text-align: center;
    margin-right: 5px;
    height: 45px !important;
    border-bottom: 2px solid #C4C4C4;
}

    .reportContentTabHeader.active, .reportContentTabHeader:hover {
        border-bottom: 2px solid #379BCF;
        cursor: default;
        background-color: #ffffff;
    }

        .reportContentTabHeader.active > a, .reportContentTabHeader:hover > a {
            color: #379BCF !important;
        }

    .reportContentTabHeader a {
        border: solid 0px #ffffff !important;
        font-size: 14px !important;
        height: 40px !important;
        line-height: 40px !important;
    }


.horizontal-option {
    float: left;
}
